{% extends 'base.html'%}
{% load static%}
{% block content%}
<link rel="stylesheet" href="{% static 'css/style2.css'%}">
<!--<ul class="navbar-nav">!-->
    
    <ul class="nav-item"><a class="nav-link" href="clienthome" >HOME</a> </ul>
    <ul class="nav-item"><a class="nav-link" href="logoutclient">LOGOUT</a></ul>    
<!--</ul>!-->
<button class="dow"><a href={{document.pdfdata.url}}>Download Pdf</a></button>
<button class="dow"><a href={{document.qrdata.url}}>Download QRCode</a></button>
<img src="{{document.qrdata.url}}"

{%endblock%}
